* {
    padding: 0 !important;
    margin: 0 !important;

    
        .mainpicregister {
            position: relative;
            width: 100%;
            height: auto;
            background-image: url('../mainpic.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .logo {
                width: 130px;
                
            }
        }

        .signup {
            gap: 10px;
            margin-left: 100px !important;

            p {
                font-size: 17px;

                .link-text {
                    text-decoration: none;
                    color: #FF432A;
                    font-weight: 500;
                }
            }

            form {
                gap: 30px;

                .form-group {
                    .forform {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .input1 {
                        border: none;
                        border-bottom: 2px solid #FF432A;
                        border-radius: 0 !important;
                    }

                    .input2 {
                        border: none;
                        border-bottom: 2px solid #505050;
                        border-radius: 0 !important;
                    }
                }

                .register-btn {
                    height: 40px;
                    background-color: #FF432A;
                    color: #fff;
                    border-radius: 20px;
                    font-weight: 500;
                }
            }

        }

    }

